.list-container {
  display: grid;
  grid-template-columns: 100px 100px 300px 300px 150px;
  gap: 15px;
  align-items: center;
}

.handle { 
      display: grid;
      justify-content: center;
      align-items: center;  
}
