.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 20px;
}

.TopBar {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.TopBar > button {
  margin-right: 20px;
}

.Board {
  display: flex;
}

.Box {
  background-color: yellow;
  border: 1px solid black;

  width: 35px;
  height: 20px;
}

.Highlight {
  border: medium solid red;
}